<!DOCTYPE html>
<html lang="en">
<head>
    <link href='css/bootstrap.min.css' rel='stylesheet' type='text/css'/>
    <link href='css/bootstrap-glyphicons.css' rel='stylesheet' type='text/css'/>
    <script src='js/jquery-1.10.2.min.js' type='text/javascript'></script>
    <script src='js/bootstrap.min.js' type='text/javascript'></script>
    <script type="text/javascript">
        var client_id = "<%= app.app_id%>";
        var redirect_uri = "<%= app.redirect_uri%>";
        var auth_server = "<%= auth_server%>";

        function qnap_login(response_type) {
            var qnap_auth_url = auth_server+"/oauth/auth?response_type="+response_type+"&client_id=" + client_id;
            qnap_auth_url += "&redirect_uri=" + redirect_uri;
            qnap_auth_url += "&scope=";
            <% app.scope.forEach(function(scope) { %>
                qnap_auth_url += "<%= scope%> ";
            <% }) %>
            // qnap_auth_url+=" device_write";
            qnap_auth_url += "&state=homepage+foo&";

            window.location.href = qnap_auth_url;
        }

        function qnap_signup() {
            var qnap_signup_url = auth_server+"/auth/signup?app_id="+client_id;
            qnap_signup_url += "&redirect_uri="+redirect_uri;
            qnap_signup_url += "&state=homepage+foo&lang=zh";
            window.location.href = qnap_signup_url;
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Demo 3rd party</h1>

        <p>
        <button class="btn btn-primary" onclick="qnap_signup()">Sign Up</button>
        </p>
        
        <div class="row">
            <div class="col-lg-10">
                <div id="authorization_code_flow" class="panel">
                    <div class="panel-heading">
                        <h1 class="panel-title">Authorization Code Flow</h1>
                    </div>
                    <p class="lead">After login, an <strong>auth_code</strong> is redirected to backend, which is later exchanged to <strong>access_token</strong>.</p>
                    <button type="button" class="btn btn-primary" onclick=qnap_login("code")>Login</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10">
                <div id="implicit_flow" class="panel">
                    <div class="panel-heading">
                        <h1 class="panel-title">Implicit Flow</h1>
                    </div>
                    <p class="lead">After login, an <strong>access_token</strong> is directly presented to frontend and frontend only, by including it in the <em>url fragment</em>.</p>
                    <button type="button" class="btn btn-primary" onclick=qnap_login("token")>Login</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
